* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'DIN';
  src: url('DINWeb.woff') format('woff');
}

body {
  margin: 0;
  background: #2c2c2c;
  padding: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
li,
q {
  color: #919191;
  font-family: 'DIN';
  line-height: 1.4;
  text-decoration: unset;
  font-weight: 100;
}

a {
  border-bottom: 0.15rem #919191 solid;
  margin-bottom: 0.52rem;
}

a:hover {
  border-bottom: unset;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1 {
  color: #c9c9c9;
  font-size: 1.4rem;
}

h2 {
  color: #868686;
}

h3 {
  color: #00ff93;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  width: 80rem;
  max-width: 100%;
}

.siteTitle {
  display: block;
  padding-top: 4rem;
}

.intro {
  width: 100%;
  padding: 4rem 0;
}

.intro__text {
  font-size: 1.4rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.card {
  max-width: 20rem;
  min-width: 15rem;
  padding-bottom: 4rem;
}

@media (min-width: 0px) and (max-width: 800px) {
  .card {
    width: 100%;
    max-width: 30rem;
  }
}

@media (min-width: 100px) and (max-width: 600px) {
  html {
    font-size: 14px;
    padding: 0 40px 0 40px;
  }
}

@media (min-width: 600px) and (max-width: 1200px) {
  html {
    font-size: 14px;
    padding: 0 40px 0 40px;
  }
}

@media (min-width: 1200px) and (max-width: 1920px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 1920px) and (max-width: 4000px) {
  html {
    font-size: 16px;
  }
}
